@model Favourites
@{
    ViewData["Title"] = "GetUserFavourites";
}

<div style="width:90%; margin:auto" class="mt-2">
    <h3>My Favourites</h3>
    @if (Model != null && Model.FavouritesDetails != null && Model.FavouritesDetails.Count > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Level
                </th>
                <th>
                    Download
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.FavouritesDetails)
            {
                <tr>
                    <td>
                        @item.StudyFile.FileName
                    </td>
                    <td>
                        @item.StudyFile.Level.CEFRLevel
                    </td>
                   @*  <td>
                        @item.StudyFile.Topic.TopicName
                    </td> *@
                    <td>
                        <a class="btn btn-outline-secondary" href="@item.StudyFile.FileURL">Download now</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="/Favourites/RemoveItem?studyFileId=@item.StudyFileId">Delete</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h5>No Favourites yet</h5>
    }
</div>

