@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/Favourites/GetUserFavourites">
            <span id="favouritesCount" class="badge text-bg-secondary"></span>
            <i class="bi bi-star"></i>
        </a>
    </li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span id="username">Hello @User.Identity?.Name!</span>
                @if (User.IsInRole("Admin"))
                {
                    <span>(admin)</span>
                }
            </a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-body-tertiary">Logout</button>
        </form>
    </li>
}
else
{
    
    <li class="nav-item">
        <a class="nav-link " asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
